<div ng-if="$ctrl.isInitialized">
  <page-header title="$ctrl.serie.name" actions="$ctrl.actions"></page-header>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <img class="img-responsive" ng-src="{{$ctrl.fileUrl}}" />
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="field">
        <label>Título original</label>
        <div class="value not-editable">{{$ctrl.serie.originalName}}</div>
      </div>
      <div class="field">
        <label>Año</label>
        <div class="value not-editable">{{$ctrl.serie.year}}</div>
      </div>
      <div class="field">
        <label>Géneros</label>
        <div class="value not-editable">{{$ctrl.gendersName}}</div>
      </div>
      <div class="field">
        <label>Temporadas</label>
        <div class="value not-editable">{{$ctrl.serie.seasons}}</div>
      </div>
      <div class="field">
        <label>Sinópsis</label>
        <div class="value not-editable">
          {{$ctrl.serie.description | limitTo: $ctrl.serieDescriptionLimit}}
          {{$ctrl.serie.description.length > $ctrl.serieDescriptionLimit ? '...' : ''}}
        </div>
        <a class="clickable" ng-show="$ctrl.serie.description.length > $ctrl.serieDescriptionLimit"
          ng-click="$ctrl.showMore();">Ver más</a>
        <a class="clickable" ng-show="$ctrl.serieDescriptionLimit > $ctrl.strLimit" ng-click="$ctrl.showLess();">Ver
          menos</a>
      </div>
    </div>
  </div>
</div>