<div class="wrapper">
  <header></header>
  <div class="main-content">
    <p>{{title}}</p>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail clickable" ng-click="goToMoviesListPage();">
        <div class="caption text-center">
          <div class="title">Películas</div>
          <div class="genders">Ver</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail clickable" ng-click="goToSeriesListPage();">
        <div class="caption text-center">
          <div class="title">Series</div>
          <div class="genders">Ver</div>
        </div>
      </div>
    </div>
  </div>
</div>